{% extends 'base.html' %}

{% block wrapper %}
  <main class="container">
    <section class="mt-3 pb-5">
      <h1 class="display-3 mt-4">{{tours[id].title}} {{tours[id].stars}}★</h1>
      <!-- HERO -->
      <p class="lead">{{tours[id].country}} {{departures[tours[id].departure]}} {{tours[id].nights}} ночей</p>
      <img src="{{tours[id].picture}}" width="300px" class="w-75" alt="Нет картинки :С">
      <p class="my-4 w-75">{{tours[id].description}}</p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfXfj_juOkBiCrKKBbi5ZgbVhbDDvl-M1cuqUWUwuNc8DqN7g/viewform?usp=sf_link"
         class="btn btn-success btn-lg" target="_blank">Купить тур за {{tours[id].price}}р.</a>
    </section>
  </main>
{% endblock %}
